{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'tabel\css\tabel_admin.css' %}">
<script type="text/javascript">
  var tabelAdminUrl = "{% url 'graph:graph_admin' %}";
  var tabelAdminUpdateChangeList = "{%url 'admin:tabel_tabel_changelist' %}"
</script>
<script src="{% static 'graph/js/jquery.js' %}"></script>

<script src="{% static 'graph/js/ncalayer.js' %}"></script>
<script src="{% static 'graph/js/process-ncalayer-calls.js' %}"></script>
<script src="{% static 'graph/js/jquery.blockUI.js' %}"></script>

{% endblock %}

{% block branding %}
  <a href="{% url 'admin:index' %}"><h1 id="site-name">Админ Панель</h1></a>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Начало</a>
  &rsaquo; <a href="/admin/tabel/">Табеля</a>
  &rsaquo; <a href="/admin/tabel/tabel">Список Табелей</a>
  &rsaquo; <a>Табель {{tabel.subdivision}} {{tabel.reservoir}} за {{selected_month}} {{year}}</a>
</div>
{% endblock %}

{% block content %}
<div style="display:none">
  <select id="storageSelect" class="custom-select">
    <option value="PKCS12" selected>PKCS12</option>
</select>
</div>
<!-- spinner loading page start --->
<div id="spinner-box" class='text-center'>
  <div class="spinner-border" role="status"></div>
</div>

<div id='data-box' class='not-visible'>
<!-- spinner loading page end --->
  <table class="admin_table">
    <thead>
      <tr>
        <td colspan="5_{{forloop.counter}}"></td>
        <td colspan="100">за {{selected_month}} {{year}}</td>    
      </tr>
      <tr>
        <td rowspan="3">№№/пп</td>
        <td rowspan="3">Фамилия, имя, отчество</td>
        <td rowspan="3" class='vertical'>Табельный номер</td>
        <td rowspan="3">Профессия, должность</td>
        <td rowspan="3" class='vertical'>тарифный разряд</td>
        <td colspan="{{days|length}}">Отработано часов по числам</td>
        <td colspan="{{attendance|length|add:1}}">Дни явок</td>
        <td colspan="{{no_attendance|length}}">Дни неявок</td>
        <td rowspan="3" class='vertical'>Всего дней в месяце</td>
        <td colspan="8">Отработанное время, часы </td>
        <td colspan="3" rowspan="2">неотработанное время, часы</td>
      </tr>
      <tr>
        {% for day in days %}
          <td rowspan="2" class="nums">{{ day }}</td>
        {% endfor %}
        <td rowspan="2" class='vertical'>Дни явок фактической работы</td>
        {% for a in attendance %}
          <td>{{a.name}}</td>
        {% endfor %}
        {% for n in no_attendance %}
          <td>{{n.name}}</td>
        {% endfor %}
        <td rowspan="2" class='vertical'>Отработанное количество часов</td>
        <td rowspan="2" class='vertical'>ночных</td>
        <td rowspan="2" class='vertical'>ремонтных</td>
        <td rowspan="2" class='vertical'>праздничных</td>
        <td rowspan="2" class='vertical'>выходных</td>
        <td rowspan="2" class='vertical'>сверхурочных</td>
        <td colspan="2">во вредных условиях труда</td>
      </tr>
      <tr>
        {% for a in attendance %}
          <td class='vertical'>{{a.description}}</td>
        {% endfor %}
        {% for n in no_attendance %}
          <td class='vertical'>{{n.description}}</td>
        {% endfor %}
        <td class='vertical'>размер доплаты в %</td>
        <td class='vertical'>кол-во часов</td>
        <td class='vertical'>простой оплачиваемый</td>
        <td class='vertical'>Перерывы для кормления ребенка</td>
        <td class='vertical'>Время перерыва отдыха и приема пищи</td> 
      </tr>  
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{employee.surname}} {{employee.name}} {{employee.middlename}}</td>
        <td>{{employee.job.name}} {{employee.job.description}}</td>
        <td>{{employee.oil_place}}</td>
        <td>{{employee.tariff_category}}</td>
        {% comment %} {% for day in days %} {% endcomment %}
          {%for key,value in time_tracking_dict.items%}
              {%if key == employee.tabel_number %}
                  {%for v in value%}
                    {% if forloop.counter <= days|length %}
                      <td>{{v}}</td>
                    {%endif%}
                  {%endfor%}
              {%endif%}
          {% comment %} {%endfor%} {% endcomment %}
          {%endfor%}
          {% comment %} {% for data in time_tracking %}
            {% if data.date.year == year %}
              {% if data.date.month == month %}
                {% if data.employee_id.tabel_number == employee.tabel_number %}
                  {% if data.date.day == day %}
                    {% if data.worked_hours == '' %}
                      <td>0</td>
                    {% else %}
                      <td>{{data.worked_hours}}</td>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %} {% endcomment %}
        {% for key, value in calculations.items %}
            {% comment %} {% if key == employee.name %} {% endcomment %}
            {% if key == employee.tabel_number %}
              {% for v in value.values %}
                {% if v == 0 %}
                  <td></td>
                {% else %}
                  <td>{{v}}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {% comment %} <td></td> {% endcomment %}
      </tr>
    {% endfor %}
  </tbody>
</table>
      {% comment %} {% for employee in employees %}
        <tr>
          <td> {{ forloop.counter }} </td>
          <td> {{ employee.name}} {{employee.surname}} {{employee.middlename}}</td>
          <td> {{ employee.tabel_number }} </td>
          <td> {{ employee.job.name }} {{ employee.job.description }}</td>
          <td> {{ employee.tariff_category}} </td>  
          
          {% for day in days %}
            {% for data in time_tracking %}
              {% if data.date.year == year %}
                {% if data.date.month == month %}
                  {% if data.date.day == day %}
                    {% if data.employee_id.tabel_number == employee.tabel_number %}
                      {% if data.worked_hours == '' %}
                        <td>0</td>
                      {% else %}
                        <td>{{data.worked_hours}}</td>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <!--!-->
          {% for key, value in calculations.items %}
            {% if key == employee.tabel_number %}
              {% for v in value.values %}
                {% if v == 0 %}
                  <td></td>
                {% else %}
                  <td>{{v}}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!--!-->
        </tr>
          
      {% endfor %}
    </tbody>
  </table> {% endcomment %}

  {% if perms.tabel.add_timetrackingtabel %}
  <form style="width: 10%;" method="post" action="/tabel_admin?tabel_pk={{tabel_pk}}" name='soglasovat' onsubmit="return confirmSubmit();">
    {% csrf_token %}
    <input type="hidden" name="tabel_pk" value="{{ tabel_pk }}">
    <input type="hidden" id="base64ToSign" name="base64ToSign" value="{{ json_base64 }}">

    <input type="submit" value="Утвердить" name="approve_graph" class="default">
    <input style="display:none"type="checkbox" id="flagForBase64" />
    <input value="Получить данные ключа" onclick="getKeyInfoCall();" type="button" class="mb-3" />	
  </form>
  {% endif %}

  {% if perms.tabel.change_tabel %}
    {% if tabel.status == 'Не утвержден' %}

      <a href="{% url 'tabel:tabel_admin_update' %}">
        <input type="submit" value="Редактировать" class="default">
      </a>

    {% else %}
      <form method="post">
        {% csrf_token %}
        <input type="submit" value="Редактировать" class="default" name="not_sogl">
      </form>
    {% endif %}
  {% endif %}

  <a style="float: right;" href="/admin/tabel/tabel">
    <input type="button" value="Назад" class="default">
  </a>
  </div>
  <script>
    function confirmSubmit() {
      // Confirm submission
      const userConfirmed = confirm("Вы уверены, что хотите согласовать График?");
      
      if (userConfirmed) {
        const spinnerBox = document.getElementById('spinner-box');
        const dataBox = document.getElementById('data-box');
        
        // Show spinner and hide data
        spinnerBox.style.display = 'block';
        dataBox.style.display = 'none';
        
        // Log confirmation message
        console.log("Вы уверены, что хотите Утвердить Табель?");
        
        // Perform AJAX request
        $.ajax({
          type: 'POST',
          url: '{% url "graph:graph_admin" %}?{{ graph_pk }}',
          success: function(response) {
            // Hide spinner and show data after successful response
            spinnerBox.style.display = 'none';
            dataBox.style.display = 'block';
          },
          error: function(error) {
            // Handle error if AJAX request fails
            console.error('Error:', error);
            // Revert to initial state if there's an error
            spinnerBox.style.display = 'block';
            dataBox.style.display = 'none';
          }
        });
      }
      return userConfirmed;
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

const spinnerBox = document.getElementById('spinner-box')
const dataBox = document.getElementById('data-box')

$.ajax({
  type:'GET',
  url: '{% url "tabel:tabel_admin" %}?{{ tabel_pk }}',
  success:function(response){
    setTimeout(()=>{
      spinnerBox.classList.add('not-visible')
      dataBox.classList.remove('not-visible')
    })
    
  },
  error:function(error){
    console.log(error)
  }
})
</script>

{% endblock content %}