{% load i18n admin_urls %}
{% block object-tools-items %}

<!--Change the link of the button "add"-->
    <li>
    {%if request.path == "/admin/graph/graph/"%}    
        {% url cl.opts|admin_urlname:'add' as add_url %}

        <a href="{%url 'graph:graph_add' %}" class="addlink">
            {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        </a>
    {%else%}
        {% url cl.opts|admin_urlname:'add' as add_url %}
            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
            </a>
    {% endif %}
  </li>
{%endblock%}