{% load i18n admin_urls %}
<!--adding "Парсинг Графика" button-->
{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
    {%if request.path == '/admin/graph/graph/' %}
        <a href="{% url 'graph:graph_parsing' %}" class="addlink">Парсинг Графика</a>
        
    {%endif%}
  </li>
  {% endif %}
{% endblock %}
