<form method='POST' action="{% url 'graph:graph_admin_update' %}">
    {% csrf_token %}
    <tr><td style="text-align: center;" colspan="100">за {{selected_month}} {{year}}</td></tr>
    
    {% for employee in employees %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{employee.surname}} {{employee.name}} {{employee.middlename}}</td>
            <td>{{employee.job.name}} {{employee.job.description}}</td>
            <td>{{employee.oil_place}}</td>
            <td>{{employee.tariff_category}}</td>
            {% for day in days %}
                {% for data in time_tracking %}
                    {% if data.employee_id.tabel_number == employee.tabel_number %}
                        {% if data.date.year == year %}
                            {% if data.date.month == month %}
                                    {% if data.date.day == day %}
                                        {% comment %} <td>{{data.worked_hours}}</td> {% endcomment %}
                                        <td><input style = "width: 20px;" type="text" name="worked_hours_{{ data.pk }}_{{day}}_{{employee.tabel_number}}" value="{{ data.worked_hours }}"></td>	
                                    {%else%}
                                        <td><input style = "width: 20px;" type="text" name="worked_hours_{{ data.pk }}_{{day}}_{{employee.tabel_number}}" value="0"></td>	
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% for key, value in calculations.items %}
                {% if key == employee.name %}
                    {% for calculation in value.values %}
                        {% if calculation == 0 %}
                            <td>0</td>
                        {% else %}
                            <td>{{calculation}}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

</tbody>
</table>

<button type="submit">Сохранить</button>
<a href="{% url 'graph:graph_admin' %}"><button>Назад</button></a>
</form>