{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'graph\css\graph_admin.css' %}">
{% endblock %}

{% block additional_scripts %}
{{block.super}}
{% endblock %}

{% block branding %}
  <h1 id="site-name">Админ Панель</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Начало</a>
  &rsaquo; <a href="/admin/graph/">Graph</a>
  &rsaquo; <a href="/admin/graph/graph">Графики</a>
  &rsaquo; <a href="">График {{graph.subdivision}} {{graph.reservoir}} за {{selected_month}} {{year}}</a>
</div>
{% endblock %}

{% block content %}
<h1>График {{graph.subdivision}} {{graph.reservoir}} {{selected_month}} {{graph.year}}</h1>

<table class="admin_table">
  <thead>
    <tr>
        <td rowspan="2">№№/пп</td>
        <td rowspan="2">Фамилия, имя, отчество </td>
        <td rowspan="2">Профессия, должность</td>
        <td rowspan="2">Место-рождение</td>
        <td rowspan="2" class="vertical">Вахта</td>
        <td colspan="{{days|length}}" style="text-align: center">Дни месяца</td>
        <td rowspan="2">Дни вахты</td>
        <td rowspan="2">Дни отдыха</td>
        <td rowspan="2">Всего дней в месяце</td>
        <td rowspan="2">Кол-во часов</td>
    </tr>
    <tr>
        {% for day in days %}
            <td>{{day}}</td>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr><td style="text-align: center;" colspan="100">за {{selected_month}} {{year}}</td></tr>
      
    {% for employee in employees %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{employee.surname}} {{employee.name}} {{employee.middlename}}</td>
        <td>{{employee.job.name}} {{employee.job.description}}</td>
        <td>{{employee.oil_place}}</td>
        <td>{{employee.tariff_category}}</td>
        {% for day in days %}
          {% for data in time_tracking %}
            {% if data.date.year == year %}
              {% if data.date.month == month %}
                {% if data.employee_id.tabel_number == employee.tabel_number %}
                  {% if data.date.day == day %}
                    {% if data.worked_hours == '' %}
                      <td>0</td>
                    {% else %}
                      <td>{{data.worked_hours}}</td>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% for key, value in calculations.items %}
          {% if key == employee.tabel_number %}
            {% for calculation in value.values %}
              {% if calculation == 0 %}
                <td>0</td>
              {% else %}
                <td>{{calculation}}</td>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if perms.graph.add_time_tracking %}
<form style="width: 10%;" method="post" action="/graph_admin?graph_pk={{graph_pk}}" name='soglasovat' onsubmit="return confirmSubmit();">
  {% csrf_token %}
  <input type="hidden" name="graph_pk" value="{{ graph_pk }}">
  <input type="submit" value="Согласовать" name="approve_graph" class="default">
</form>
{% endif %}

{% if perms.graph.change_graph %}
<a href="{% url 'graph:graph_admin_update' %}">
  <input type="submit" value="Редактировать" class="default">
</a>
{% endif %}

<a style="float: right;" href="/admin/graph/graph">
  <input type="button" value="Назад" class="default">
</a>

<script>
  function confirmSubmit() {
    return confirm("Вы уверены, что хотите согласовать?");
  }
</script>
  
{% endblock %}