
{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'graph\css\graph_admin.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block branding %}
	<a href="{% url 'admin:index' %}"><h1 id="site-name">Админ Панель</h1></a>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Начало</a>
  &rsaquo; <a href="/admin/graph/">Графики</a>
  &rsaquo; <a href="/admin/graph/graph">Список графиков</a>
  &rsaquo; <a>График {{graph.subdivision}} {{graph.reservoir}} за {{selected_month}} {{year}}</a>
</div>
{% endblock %}

{% block content %}
{% comment %} {{block.super}} {% endcomment %}
<!-- spinner loading page start --->
<div id="spinner-box" class='text-center mt-3'>
	<div class="spinner-border" role="status"></div>
  </div>
  
  <div id='data-box' class='not-visible'>
  <!-- spinner loading page end --->
	<h1>График {{graph.subdivision}} {{graph.reservoir}} {{selected_month}} {{graph.year}}</h1>
  	<table class="admin_table">
		<thead>
		<tr>
			<td rowspan="2">№№/пп</td>
			<td rowspan="2">Фамилия, имя, отчество </td>
			<td rowspan="2">Профессия, должность</td>
			<td rowspan="2">Место-рождение</td>
			<td rowspan="2" class="vertical">Вахта</td>
			<td colspan="{{days|length}}" style="text-align: center">Дни месяца</td>
			<td rowspan="2">Дни вахты</td>
			<td rowspan="2">Дни отдыха</td>
			<td rowspan="2">Всего дней в месяце</td>
			<td rowspan="2">Кол-во часов</td>
		</tr>
		<tr>
			{% for day in days %}
				<td>{{day}}</td>
			{% endfor %}
		</tr>
		</thead>
		<tbody id="id_time_tracking_set-group">
			<form method='POST' action="{% url 'graph:graph_admin_update' %}">
				{% csrf_token %}
				<tr><td style="text-align: center;" colspan="100">за {{selected_month}} {{year}}</td></tr>
				
				{% for employee in employees %}
					<tr>
						<td><a style="cursor: pointer;" id="delete-row-button" class="deletelink" data-custom-value="{{employee.tabel_number}}"></a> {{forloop.counter}}</td>
						<td>{{employee.surname}} {{employee.name}} {{employee.middlename}}</td>
						<td>{{employee.job.name}} {{employee.job.description}}</td>
						<td>{{employee.oil_place}}</td>
						<td>{{employee.tariff_category}}</td>
						{%for key,value in time_tracking_dict.items%}
							{%if key == employee.tabel_number%}
								{%for v in value%}
									{% if forloop.counter <= days|length %}
										{%if v == ''%}
											<td><input style="width: 50px;" type="text" name="worked_hours_{{employee.tabel_number}}_{{ data.pk }}_{{forloop.counter}}" list="attendance_list"></td>
										{%else%}
											<td><input style="width: 50px;" type="text" name="worked_hours_{{employee.tabel_number}}_{{ data.pk }}_{{forloop.counter}}" value="{{v}}" list="attendance_list"></td>
										{%endif%}
										<datalist id="attendance_list">
											{% for attend in attendance_full %}
												<option value="{{attend.name}}">														
											{% endfor %}
										</datalist>
									{%endif%}
								{%endfor%}
							{%endif%}
						{%endfor%}
						{% comment %} {% for day in days %}
							{% for data in time_tracking %}
								{% if data.employee_id.tabel_number == employee.tabel_number %}
									{% if data.date.year == year %}
										{% if data.date.month == month %}
												{% if data.date.day == day %}
													{% if data.worked_hours == '' %}
														<td><input style="width: 40px;" type="text" name="worked_hours_{{employee.tabel_number}}_{{ data.pk }}_{{day}}" list="attendance_list"></td>
													{% else %}
														<td><input style="width: 40px;" type="text" name="worked_hours_{{employee.tabel_number}}_{{ data.pk }}_{{day}}" value="{{data.worked_hours}}" list="attendance_list"></td>
													{% endif %}
													<datalist id="attendance_list">
														{% for attend in attendance_full %}
															<option value="{{attend.name}}">														
														{% endfor %}
													</datalist>
												{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %} {% endcomment %}
			
						{% for key, value in calculations.items %}
							{% comment %} <td>{{key}}</td>
							<td>{{employee.tabel_number}}</td> {% endcomment %}
							
							{% if key == employee.tabel_number %}
								{% for calculation in value.values %}
									{% if calculation == 0 %}
										<td>0</td>
									{% else %}
										<td>{{calculation}}</td>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			
			</tbody>
			</table>
			<form method='post' onsubmit="return confirmSave();">
				<input type="submit" value="Сохранить график" class="default">
			</form>
			
		</form>
		<input id="add-row-button" type="button" value="Добавить работника" class="default">
		<a style="float: right;" href="{% url 'graph:graph_admin' %}">
			<input type="button" value="Назад" class="default">
		</a>
	</div>
	<script>
		function closeSidebar() {
		  // Find the sidebar toggle button
		  const sidebarToggle = document.getElementById('nav-sidebar');
		  const sidebarMain = document.getElementById('main')
		  if (window.location.href === "/graph_admin_update"){
		  if (sidebarMain){
			if (sidebarToggle) {
			  // Set aria-expanded to false
			  
			  sidebarMain.classList.remove('main shifted')
			  sidebarMain.classList.add('main')
			  sidebarToggle.setAttribute('aria-expanded', 'false');
			}
		  }
		  }
		}
	  </script>
		<script>
			$(document).ready(function(){
				$('input[name^="worked_hours_"]').on('input', function() {
					var inputFieldName = $(this).attr('name');
					var parts = inputFieldName.split('_');
					var employee_tabel_number = parts[2];
					var totalNightHours = 0;

					var totalWorkedHours = 0;
					var totalWorkedDays = 0;
					var days_length = 0

					{% for day in days %}
						days_length++;
					{% endfor %}
					console.log(days_length)
					$('input[name^="worked_hours_' + employee_tabel_number + '_' + '"]').each(function() {
						var worked_hours = $(this).val();
						if ($.isNumeric(worked_hours)) {
							totalWorkedHours += parseFloat(worked_hours);
							if (worked_hours !== '0') {
								totalWorkedDays++;
							}
						}
						if (worked_hours.indexOf('/')!==-1){
							let night_hours = worked_hours.split('/');
							if (night_hours.length===2){
								totalNightHours+=parseInt(night_hours[1]);
								totalWorkedHours+=parseInt(night_hours[0]);
								if (worked_hours!=='0'){
									totalWorkedDays++;
								}
							}
						}
			
					});
					console.log('totalWorkedDays', totalWorkedDays)
					console.log('totalWorkedHours', totalWorkedHours)
					$(this).closest('tr').find('td').eq(36).text(totalWorkedDays); 
					$(this).closest('tr').find('td').eq(37).text(days_length - totalWorkedDays); //rest days
					$(this).closest('tr').find('td').eq(39).text(totalWorkedHours); 
				});

				$(".deletelink").click(function() {
					const value = $(this).data("custom-value");
					const csrftoken = '{{ csrf_token }}'
					console.log(value)
					fetch("{% url 'graph:graph_admin_update' %}", {
						method: "POST",
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': csrftoken,
						},
						body: JSON.stringify({ employee_id_delete: value }),
					})

					.then(response => {
						location.replace("{% url 'graph:graph_admin_update' %}")
					})
					
					
				});
			});
			document.addEventListener("DOMContentLoaded", function() {
				const addRowButton = document.getElementById("add-row-button");
				const tableBody = document.getElementById("id_time_tracking_set-group");
				const csrftoken = '{{ csrf_token }}'
				addRowButton.addEventListener("click", function() {
					const newRow = document.createElement("tr");
					newRow.innerHTML = `
									<td>{{ forloop.counter }}</td>
									<td>
									<input class="employee_select" type="text" list="employee_list" name="time_tracking_set-__prefix__-employee_id">
										<datalist id="employee_list">
											{% for employee in employees_all %}
											<option type="text" name=employee_{{ employee.tabel_number }} value="{{employee.tabel_number}}">{{employee.fullname}}</option>
											{% endfor %}		
										</datalist>
									</td>
									<td><input type="button" value="Добавить" class="save-row-button"></td>
									<td><input type="button" value="Отменить" class="cancel-row-button"></td>
									`;
					tableBody.appendChild(newRow);
				});

				
				tableBody.addEventListener("click", function(event) {
					if (event.target.classList.contains("cancel-row-button")) {
						event.target.closest("tr").remove();
					}
					else if (event.target.classList.contains("save-row-button")) {
						const selectElement = event.target.closest("tr").querySelector(".employee_select");
						const selectedOption = selectElement.value;
						fetch("{% url 'graph:graph_admin_update' %}", {
							method: "POST",
							headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken': csrftoken,
							},
							body: JSON.stringify({ employee_id: selectedOption }),
						})
						.then(response => {
							if (response.ok) {
								console.log('Option saved successfully');
								location.replace("{% url 'graph:graph_admin_update' %}")
							} else {
								console.error('Error saving option');
							}
						})
						.catch(error => {
							console.error('Error:', error);
						});
						console.log(selectedOption)
					}
				});//
			});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

const spinnerBox = document.getElementById('spinner-box')
const dataBox = document.getElementById('data-box')

$.ajax({
  type:'GET',
   url: '{% url "graph:graph_admin_update" %}?{{ graph_pk }}',
  success:function(response){
    setTimeout(()=>{
      spinnerBox.classList.add('not-visible')
      dataBox.classList.remove('not-visible')
    })
    
  },
  error:function(error){
    console.log(error)
  }
})
</script>
<script>
	function confirmSave(){
		const userConfirmed = confirm("Вы уверены, что хотите сохранить График?");
		if (userConfirmed) {
			const spinnerBox = document.getElementById('spinner-box');
			const dataBox = document.getElementById('data-box');
			spinnerBox.style.display = 'block';
      		dataBox.style.display = 'none';
			console.log("Вы уверены, что хотите согласовать График?");

			$.ajax({
			type: 'POST',
			url: '{% url "graph:graph_admin" %}?{{ graph_pk }}',
			success: function(response) {
				// Hide spinner and show data after successful response
				spinnerBox.style.display = 'none';
				dataBox.style.display = 'block';
			},
			error: function(error) {
				// Handle error if AJAX request fails
				console.error('Error:', error);
				// Revert to initial state if there's an error
				spinnerBox.style.display = 'block';
				dataBox.style.display = 'none';
			}
			});
		}
			return userConfirmed;
	}
</script>

{% endblock %}

