.vertical {
    writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
    transform: rotate(180deg);
}

.admin_table{
    display: block;
    overflow-x: auto;

}

.admin_table td{
    border: 1px solid lightgrey;
}
